#root {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left-pane {
  flex: 1 0 16em;
  display: flex;
  border-right: 1px solid #333333;
  padding-left: 0.5em;
}

#left-pane span {
  cursor: pointer;
}

#right-pane {
  flex: 10 1 auto;
  display: flex;
  overflow: auto;
}

#right-pane pre {
  flex: 1 1 100%;
}

@media screen and (max-width: 600px) {
  #root {
    flex-direction: column;
  }

  #left-pane {
    flex: 1 1 50%;
  }

  #right-pane {
    flex: 1 1 50%;
    border: 1px dotted #999999;
  }
}