@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
  box-sizing: border-box;
}

#root {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.code-section {
  flex: 0 0 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.code-section TEXTAREA {
  flex: 1 1 auto;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.code-section BUTTON {
  flex: 0 0 auto;
}

.output-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.output-section TEXTAREA {
  flex: 1 1 auto;
  background-color: transparent;
  color: #999999;
  font-family: 'Courier New', Courier, monospace;
}