#root {
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 1 auto;
}

.Loading {
  text-align: center;
  opacity: 0%;
  font-size: 2em;
  font-weight: bold;
  margin-top: 2em;
	animation: fadeIn 4s ease-in 500ms infinite normal;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 25%;
	}
	100% {
		opacity: 0;
	}
}

.Page {
  padding: 1em;
}

.TopNav {
  width: 100%;
  background-color: #ccccee;
  padding: .5em 1em .5em 2em;
}

.TopNav h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.SearchBox {
  float: right;
}

.PostList {
  padding-inline-start: 0;
  list-style-type: none;
}

.PostListing {
  margin-left: 0;
  margin-bottom: 0.6em;
  clear: both;
}

.PublishDate {
  float: right;
  color: #999999
}

.Title {
  font-weight: 500;
}

.Excerpt p {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.Author {
  float: right;
  margin-bottom: 0.3em;
}

.Author a {
  color: #000000;
}

.Tag {  
  display: inline-block;
  background-color: #333355;
  color: #ffffff;
  font-size: 0.8em;
  padding: 1px 6px 1px 6px;
  margin-right: 4px;
  border-radius: 5px;
}

.Tag:hover {
  color: #eeee00;
}
