#root {
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.Loading {
  text-align: center;
  opacity: 0%;
  font-size: 2em;
  font-weight: bold;
  margin-top: 2em;
	animation: fadeIn 4s ease-in 500ms infinite normal;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 25%;
	}
	100% {
		opacity: 0;
	}
}

.Page {
  padding: 1em;
}

.TopNav {
  width: 100%;
  background-color: #ccccee;
}

.TopNav h2 {
  margin-left: .5em;
}

.TopNav input.faulty {
  background-color: #ffdddd;
}

.TopNav h2 {
  margin: 0;
  padding: 0.5em;
}

.TopNav a:link,
.TopNav a:visited {
  color: #000000;
}

.TopNav .search {
  float: right;
  padding: .5em;
}

.TopNav .menu {
  background-color: #333355;
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
}

.TopNav .menu li {
  display: inline-block;
}

.TopNav .menu li.active {
  background-color: #335588;
}

.TopNav .menu a {
  display: block;
  padding: .25em .75em .25em .75em;
}
.TopNav .menu a:link,
.TopNav .menu a:visited {
  color: #ffffff;
}

.PostList {
  padding-inline-start: 0;
  list-style-type: none;
}

.PostListing {
  margin-left: 0;
  margin-bottom: 0.6em;
  clear: both;
}

.PostListing .date {
  float: right;
  color: #999999
}

.PostListing .title {
  font-weight: 500;
}

.PostListing .excerpt p {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.PostListing .author {
  float: right;
  margin-bottom: 0.3em;
}

.PostListing .author a {
  color: #000000;
}

.PostListing .tags a,
.Article .tags a {  
  display: inline-block;
  background-color: #333355;
  color: #ffffff;
  font-size: 0.8em;
  padding: 1px 6px 1px 6px;
  margin-right: 4px;
  border-radius: 5px;
}

.PostListing .tags a:hover,
.Article .tags a:hover {
  color: #eeee00;
}

.PostCount {
  font-size: 1.2em;
  font-weight: bold;
}

.PostOrder {
  float: right;
}

.Article .title {
  font-size: 2em;
  font-weight: bold;
}

.Article .author-date {
  float: left;
}

.Article .date {
  margin-left: .5em;
}

.Article .tags {
  float: right;
}

.Article .content {  
  clear: both;
  padding-top: 1em;
}

.Author .title,
.Category .title,
.Tag .title {
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .TopNav .menu {
    display: none;
  }
}