:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  display: flex;
  overflow-y: scroll;
}

a:visited, a:link {
  text-decoration: none;
}

img {
  max-width: 90vw;
  height: auto;
}