autom4te.cache*
build
config.h
config.h.in*
config.log
config.nice
config.status
configure*
libtool
.libs
modules
Makefile
Makefile.*
zig-out
.zig-cache
extensions
php-devel
lib
build.ini

*.a
*.dep
*.lo
*.la
*.lai
*.o
*.so
*.node
*.bak

vendor